.delivery {
  padding-bottom: 8.75em;
  background-color: var(--color-light-bg);

  &__content-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #464646;
    border-radius: 10px;

    @media (max-width: 575px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 1em;
    padding-left: 4.5em;
    font-size: 1rem;
    color: var(--color-gray-text);

    @media (max-width: 1024px) {
      padding-top: 2em;
      padding-bottom: 2em;
      padding-left: 3em;
    }

    @media (max-width: 800px) {
      font-size: 0.85rem;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 2em;
    line-height: 1.8;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    margin-bottom: 3em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  &__button {
    display: inline-block;
    padding: 1.3em 4.5em;

    @media (max-width: 425px) {
      padding: 1em 3.5em;
    }
  }

  &__picture {
    height: 100%;
  }

  &__picture-image {
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;

    @media (max-width: 575px) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}
