.hero {
  height: 100vh;
  font-size: var(--fz-default);
  background-image: url("../img/hero/hero__background.png");
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__logo {
    margin-bottom: 3em;
  }

  &__subtitle {
    color: var(--color-light);

    &-first-row {
      transform: translateX(-25%);
    }

    &-second-row {
      margin-bottom: 0.8em;
      color: var(--color-accent);
      transform: translateX(25%);
    }

    &-small-text {
      margin-bottom: 3.5em;
      letter-spacing: 0.05em;
      text-align: center;
    }

    &-first-row,
    &-second-row {
      font-family: var(--font-family-second);
      font-weight: 400;
      font-style: normal;
      font-size: 2.25em;
      line-height: 130%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  &__buttons {
    display: inline-grid;
    column-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
}
