.graph-modal__container {
  background-color: var(--color-main);
}

.graph-modal__content--reserve {
  margin: 0 auto;
  padding-top: 4em;
  max-width: 80%;

  .modal__title {
    margin: 0;
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 2em;
    line-height: 1.8em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .modal__subtitle {
    display: block;
    margin: 0 auto;
    margin-bottom: 3.5em;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .modal__form {
    .form__label-text {
      color: var(--color-light);
    }

    .form__input {
      border-bottom: 1px solid var(--color-light);
      color: var(--color-light);
    }

    .custom-select-opener {
      border-bottom: 1px solid var(--color-light);
      color: var(--color-light);
    }

    .custom-checkbox__content {
      color: var(--color-light);

      a {
        color: inherit;
      }
    }

    .custom-checkbox__content::before {
      border-color: var(--color-light);
    }

    .custom-checkbox__content::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2458 0.427752C13.6429 0.683833 13.7454 1.21989 13.4708 1.60446L6.08859 11.9417C5.70696 12.4761 4.9226 12.5039 4.50414 11.9978L0.544598 7.20937C0.244045 6.8459 0.308886 6.30487 0.686817 6.02271C1.03913 5.75968 1.53583 5.81921 1.81601 6.15805L4.40464 9.28859C4.8231 9.79465 5.60746 9.76688 5.98908 9.2325L12.1236 0.642372C12.3804 0.282774 12.8744 0.188298 13.2458 0.427752Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}
