.reserve {
  padding-bottom: 8.75em;
  background-color: var(--color-light-bg);

  &__container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(12, 1fr);
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-gray-text);

    @media (max-width: 475px) {
      font-size: 1.8em;
    }
  }

  &__subtitle {
    margin-bottom: 4.5em;
    width: 80%;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-gray-text);

    @media (max-width: 800px) {
      margin-right: auto;
      margin-bottom: 3em;
      margin-left: auto;
    }

    @media (max-width: 475px) {
      width: 100%;
    }
  }

  &__form {
    grid-column: 4 / span 6;

    @media (max-width: 800px) {
      grid-column: 2 / span 10;
    }

    @media (max-width: 475px) {
      grid-column: span 12;
    }
  }

  &__title,
  &__subtitle {
    grid-column: 3 / span 8;

    @media (max-width: 800px) {
      grid-column: 2 / span 10;
    }

    @media (max-width: 475px) {
      grid-column: span 12;
    }
  }

  @media (max-width: 475px) {
    padding-bottom: 5em;
  }
}
