.social {
  --current-color: var(--color-light);
  --hover-color: var(--color-accent);

  &__icon {
    fill: var(--current-color);
    transition: fill 0.3s ease;
  }

  &:hover {
    .social__icon {
      --current-color: var(--hover-color);
    }
  }
}
