<section class="about" id="about">
  <div class="about__container container">
    <div class="about__text-block">
      <h2 class="about__title">Атмосфера заведения</h2>
      <p class="about__text">Приходите и погрузитесь в атмосферу уюта и комфорта.</p>
      <p class="about__text">Мы с нетерпением ждем возможности приветствовать вас в ближайшее время.</p>
    </div>
    <div class="about__image about__image--first">
      <img loading="lazy" src="img/about/about__image-first.jpg" class="image" width="1050" height="640" alt="Фотография кафе">
    </div>
    <div class="about__image about__image--second">
      <img loading="lazy" src="img/about/about__image-second.jpg" class="image" width="" height="" alt="Фотография кафе">
    </div>
    <div class="about__image about__image--third">
      <img loading="lazy" src="img/about/about__image-third.jpg" class="image" width="" height="" alt="Фотография кафе">
    </div>
  </div>
</section>
