<section class="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__column">
      <a class="contacts__phone" href="tel:+74742243553">+7(4742)243-553</a>
      <address class="contacts__address">г.Липецк, ул. Гагарина, 45А ( центр города )</address>
    </div>
    <div class="contacts__column">
      <div class="contacts__text">Часы работы:</div>
      <p class="contacts__small-text">вс-чт 12:00 - 23:00</p>
      <p class="contacts__small-text">пт-сб 12:00 - 03:00</p>
    </div>
    <div class="contacts__column">
      <a class="contacts__text" href="#">park-cafe48.ru</a>
    </div>
    <div class="contacts__column">
      <div class="contacts__socials">
        <a class="contacts__socials-item social" href="#">
          <svg class="social__icon" width="46" height="46">
            <use xlink:href="#telegram-icon"></use>
          </svg>
        </a>
        <a class="contacts__socials-item social" href="#">
          <svg class="social__icon" width="46" height="46">
            <use xlink:href="#vk-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
