<section class="corporate">
  <div class="corporate__bg-image"></div>
  <div class="corporate__container container">
    <div class="corporate__content">
      <h2 class="corporate__title">Новогодние корпоративы</h2>
      <div class="corporate__subtitle">Бронируй Новогодние на выгодных условиях в Липецке!  Специальное новогоднее меню и шоу-программа
        с неповторимой новогодней атмосферой в Парк Кафе. </div>
      <div class="corporate__offer">Специальная цена на ранние бронирования и для больших компаний от 2900 руб.</div>
      <button class="btn-reset corporate__button button button--main" data-graph-path="callback-modal">Оставить заявку</button>
    </div>
    <div class="corporate__images">
      <div class="corporate__image-item">
        <picture>
          <source srcset="img/corporate/corporate__image-1.avif" type="image/avif">
          <source srcset="img/corporate/corporate__image-1.webp" type="image/webp">
          <img loading="lazy" src="img/corporate/corporate__image-1.jpg" class="image" width="490" height="460" alt="Девушка танцует на танцполе">
        </picture>
      </div>
      <div class="corporate__image-item">
        <picture>
          <source srcset="img/corporate/corporate__image-2.avif" type="image/avif">
          <source srcset="img/corporate/corporate__image-2.webp" type="image/webp">
          <img loading="lazy" src="img/corporate/corporate__image-2.jpg" class="image" width="490" height="460" alt="Девушка есть вилкой салат">
        </picture>
      </div>
      <div class="corporate__image-item">
        <picture>
          <source srcset="img/corporate/corporate__image-3.avif" type="image/avif">
          <source srcset="img/corporate/corporate__image-3.webp" type="image/webp">
          <img loading="lazy" src="img/corporate/corporate__image-3.jpg" class="image" width="490" height="460" alt="Бармен наливает коктейль в бокал">
        </picture>
      </div>
      <div class="corporate__image-item">
        <picture>
          <source srcset="img/corporate/corporate__image-4.avif" type="image/avif">
          <source srcset="img/corporate/corporate__image-4.webp" type="image/webp">
          <img loading="lazy" src="img/corporate/corporate__image-4.jpg" class="image" width="490" height="460" alt="Девушка фотографируется на танцполе">
        </picture>
      </div>
    </div>
  </div>
</section>
