<section class="corporate-tabs" id="corporate-tabs">
  <div class="corporate-tabs__container container-fluid">
    <div class="corporate-tabs__tabs tabs" data-tabs="corporate-tabs">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Банкеты</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Веранда</button></li>
        <div class="active-slide-decor">
          <div class="active-slide-decor--bottom"></div>
        </div>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <h2 class="corporate-tabs__tab-title title--gold">Свадебный сезон 2023:</h2>
          <div class="corporate-tabs__tab-subtitle">Банкеты фуршеты, мальчишники и девичники</div>
          <div class="tabs__images">
            <div class="tabs__image-wrapper">
              <picture>
                <source srcset="img/corporate-tabs/weddings-1.avif" type="image/avif">
                <source srcset="img/corporate-tabs/weddings-1.webp" type="image/webp">
                <img loading="lazy" src="img/corporate-tabs/weddings-1.jpg" class="tabs__image" alt="Свадьба 1">
              </picture>
            </div>
            <div class="tabs__image-wrapper">
              <picture>
                <source srcset="img/corporate-tabs/weddings-2.avif" type="image/avif">
                <source srcset="img/corporate-tabs/weddings-2.webp" type="image/webp">
                <img loading="lazy" src="img/corporate-tabs/weddings-2.jpg" class="tabs__image" alt="Свадьба 2">
              </picture>
            </div>
            <div class="tabs__image-wrapper">
              <picture>
                <source srcset="img/corporate-tabs/weddings-3.avif" type="image/avif">
                <source srcset="img/corporate-tabs/weddings-3.webp" type="image/webp">
                <img loading="lazy" src="img/corporate-tabs/weddings-3.jpg" class="tabs__image" alt="Свадьба 3">
              </picture>
            </div>
          </div>
        </div>

        <div class="tabs__panel">
          <h2 class="corporate-tabs__tab-title">обновленная веранда</h2>
          <div class="corporate-tabs__tab-subtitle">Для ваших вечеринок, обедов и ужинов</div>
          <div class="tabs__images">
            <div class="tabs__image-wrapper">
              <picture>
                <source srcset="img/corporate-tabs/veranda-1.avif" type="image/avif">
                <source srcset="img/corporate-tabs/veranda-1.webp" type="image/webp">
                <img loading="lazy" src="img/corporate-tabs/veranda-1.jpg" class="tabs__image" alt="Веранда 1">
              </picture>
            </div>
            <div class="tabs__image-wrapper">
              <picture>
                <source srcset="img/corporate-tabs/veranda-2.avif" type="image/avif">
                <source srcset="img/corporate-tabs/veranda-2.webp" type="image/webp">
                <img loading="lazy" src="img/corporate-tabs/veranda-2.jpg" class="tabs__image" alt="Веранда 2">
              </picture>
            </div>
            <div class="tabs__image-wrapper">
              <picture>
                <source srcset="img/corporate-tabs/veranda-3.avif" type="image/avif">
                <source srcset="img/corporate-tabs/veranda-3.webp" type="image/webp">
                <img loading="lazy" src="img/corporate-tabs/veranda-3.jpg" class="tabs__image" alt="Веранда 3">
              </picture>
            </div>
          </div>
        </div>

      </div>

      <div class="corporate-tabs__form-block">
        <form action="#" class="corporate-tabs__form form">
          <label class="form__label">
            <span class="form__label-text">Ваше имя</span>
            <input type="text" name="name" class="input-reset form__input form__input--name" placeholder="Иван">
          </label>
          <label class="form__label">
            <span class="form__label-text">Ваш телефон</span>
            <input type="tel" name="phone" class="input-reset form__input form__input--tel" placeholder="+7 (---) --- -- --">
          </label>
          <button class="btn-reset form__btn button button--main">Забронировать</button>
        </form>
      </div>
    </div>
  </div>
</section>
