<section class="delivery">
  <div class="delivery__container container">
    <div class="delivery__content-wrapper">
      <div class="delivery__content">
        <h2 class="delivery__title">Закажите доставку любимых блюд на дом</h2>
        <p class="delivery__text">Здесь можно добавить завликающую информацию в цифрах (1+1 и ит)</p>
        <a class="delivery__button button button--main" href="#">Доставка</a>
      </div>
      <div class="delivery__picture">
        <picture>
          <source srcset="img/delivery-image.avif" type="image/avif">
          <source srcset="img/delivery-image.webp" type="image/webp">
          <img loading="lazy" src="img/delivery-image.jpg" class="delivery__picture-image" width="625" height="405" alt="Доставка Кафе Парк">
        </picture>
      </div>
    </div>
  </div>
</section>
