<header class="header">
  <div class="header__container container">
    <div class="header__phone phone-number">
      <a class="phone-number__link" href="tel:+7(4742)243-553">+7(4742)243-553</a>
    </div>
    <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <svg width="40" height="22" viewBox="0 0 40 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="20" y="0.0634766" width="20" height="1" fill="white" />
        <rect y="10.0635" width="40" height="1" fill="white" />
        <rect y="20.0635" width="40" height="1" fill="white" />
      </svg>
    </button>
  </div>
  <div class="header__navigation-block navigation" data-menu>
    <div class="navigation__logo logo">
      <svg class="logo__image" width="185" height="30">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </div>

    <nav class="navigation__nav">
      <ul class="list-reset navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#about" data-menu-item>О нас</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#menu" data-menu-item>Меню</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#zone" data-menu-item>Пространства</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#contacts" data-menu-item>Контакты</a>
        </li>
      </ul>
      <div class="navigation__socials">
        <a class="navigation__socials-item social" href="https://t.me/park_cafe48">
          <svg class="social__icon" width="46" height="46">
            <use xlink:href="#telegram-icon"></use>
          </svg>
        </a>
        <a class="navigation__socials-item social" href="https://vk.com/parkcafe48">
          <svg class="social__icon" width="46" height="46">
            <use xlink:href="#vk-icon"></use>
          </svg>
        </a>
      </div>
    </nav>

    <img loading="lazy" src="img/header/navigation-decor-1.svg" class="navigation__decoration navigation__decoration--first" width="330" height="650" alt="">
    <img loading="lazy" src="img/header/navigation-decor-2.svg" class="navigation__decoration navigation__decoration--second" width="340" height="611" alt="">
  </div>
</header>
