<section class="hero">
  <div class="hero__container container-fluid">
    <h1 class="hero__title visually-hidden">Кафе Парк - заведение с уникальной атмосферой для проведения мероприятий в самом центре Липецка</h1>

    <div class="hero__logo logo">
      <svg class="logo__image" width="340" height="55">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </div>

    <div class="hero__subtitle">
      <div class="hero__subtitle-first-row">Уникальное место</div>
      <div class="hero__subtitle-second-row">в центре липецка</div>
      <div class="hero__subtitle-small-text">Пространство для праздников</div>
    </div>

    <div class="hero__buttons">
      <button class="btn-reset hero__button button button--light" data-graph-path="callback-modal">Забронировать</button>
      <a class="hero__button button button--light" href="#">Доставка</a>
    </div>
  </div>
</section>
