<section class="menu" id="menu">
  <div class="menu__container sticky-container">
    <h2 class="menu__title">Меню</h2>
    <div class="menu__content-wrapper">
      <div class="menu__item">
        <h3 class="menu__item-title">Филе лосося в беконе</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Салат «Пиренейский»</h3>
        <img loading="lazy" src="img/menu/menu-item-2.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Стейк из свиной шейки</h3>
        <img loading="lazy" src="img/menu/menu-item-3.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Фондан</h3>
        <img loading="lazy" src="img/menu/menu-item-4.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Паштет куриный</h3>
        <img loading="lazy" src="img/menu/menu-item-5.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">«Тар-тар» кростини</h3>
        <img loading="lazy" src="img/menu/menu-item-6.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Салат с морепродуктами </h3>
        <img loading="lazy" src="img/menu/menu-item-7.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">«Бриошь лавина»</h3>
        <img loading="lazy" src="img/menu/menu-item-8.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Филе «миньон»</h3>
        <img loading="lazy" src="img/menu/menu-item-9.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
    </div>
  </div>
</section>
