<section class="menu" id="menu">
  <div class="menu__container sticky-container">
    <h2 class="menu__title">Меню</h2>
    <div class="menu__content-wrapper">
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
      <div class="menu__item">
        <h3 class="menu__item-title">Емкое Название блюда</h3>
        <img loading="lazy" src="img/menu/menu-item-1.jpg" class="menu__item-image" width="280" height="380" alt="">
      </div>
    </div>
  </div>
</section>
