<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="callback-modal">
    <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content graph-modal__content--reserve">
      <h2 class="modal__title">Забронировать столик онлайн легко и занимает несколько минут</h2>
      <span class="modal__subtitle">Администратор свяжется с вами в течении 20 минут для обсуждения деталей</span>
      <form action="#" class="modal__form form">
        <label class="form__label">
          <span class="form__label-text">Ваше имя</span>
          <input type="text" name="name" class="input-reset form__input form__input--name" placeholder="Иван">
        </label>
        <label class="form__label">
          <span class="form__label-text">Ваш телефон</span>
          <input type="tel" name="phone" class="input-reset form__input form__input--tel" placeholder="+7 (---) --- -- --">
        </label>
        <label class="form__label">
          <span class="form__label-text">Какой хотели бы зал?</span>
          <select id="zoneSelect" name="zone">
            <option value="Веранда">Веранда</option>
            <option value="Первый этаж">Первый этаж</option>
            <option value="Второй этаж">Второй этаж</option>
          </select>
        </label>
        <label class="form__label">
          <span class="form__label-text">Количество гостей</span>
          <input type="number" name="guests" class="input-reset form__input form__input--guest" placeholder="50 - 60 человек">
        </label>
        <button class="btn-reset form__btn button button--light">Забронировать</button>
        <label class="custom-checkbox form__checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Нажимая галочку «Согласен» Вы подтверждаете свое согласие на обработку <a href="#">персональных данных</a></span>
        </label>
      </form>
    </div>
  </div>
</div>
