<section class="special">
  <div class="special__bg-image"></div>
  <div class="special__container container">
    <div class="special__content">
      <h2 class="special__title" data-aos="fade" data-aos-delay="350">Новогодние корпоративы</h2>
      <!-- <div class="special__item" data-aos="fade" data-aos-delay="550">Бутылка шампанского</div> -->
      <p class="special__text" data-aos="fade" data-aos-delay="750">от <span>2300</span>₽/человек</p>
    </div>
    <div class="special__banner" data-aos="fade" data-aos-delay="1150">
      <picture>
        <source srcset="img/special/special__banner.avif" type="image/avif">
        <source srcset="img/special/special__banner.webp" type="image/webp">
        <img loading="lazy" src="img/special/special__banner.jpg" class="special__banner-image" width="" height="" alt="">
      </picture>
    </div>
  </div>
</section>
