<section class="zones" id="zone">
  <div class="zones__container container-fluid">
    <h2 class="zones__title">Выберите комфортное<br>пространство для<br>проведения праздника</h2>
    <div class="zones__tabs tabs" data-tabs="zones-tabs">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Веранда</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">1 этаж</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">2 этаж</button></li>
        <div class="active-slide-decor">
          <div class="active-slide-decor--bottom"></div>
        </div>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="tabs__images">
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-veranda-1.jpg" class="tabs__image" alt="Веранда 1">
            </div>
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-veranda-2.jpg" class="tabs__image" alt="Веранда 1">
            </div>
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-veranda-3.jpg" class="tabs__image" alt="Веранда 1">
            </div>
          </div>
          <div class="tabs__info">
            <div class="tabs__info-peoples">от 10 до 40<br>человек</div>
            <p class="tabs__info-text">Пространство 1 этажа разместит до 40 гостей современное, светлое, элегантное</p>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="tabs__images">
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-first-1.jpg" class="tabs__image" alt="Веранда 1">
            </div>
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-first-2.jpg" class="tabs__image" alt="Веранда 1">
            </div>
          </div>
          <div class="tabs__info">
            <div class="tabs__info-peoples">от 10 до 40<br>человек</div>
            <p class="tabs__info-text">Пространство 1 этажа разместит до 40 гостей современное, светлое, элегантное</p>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="tabs__images">
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-second-1.jpg" class="tabs__image" alt="Веранда 1">
            </div>
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-second-2.jpg" class="tabs__image" alt="Веранда 1">
            </div>
            <div class="tabs__image-wrapper">
              <img loading="lazy" src="img/zones/zones-second-3.jpg" class="tabs__image" alt="Веранда 1">
            </div>
          </div>
          <div class="tabs__info">
            <div class="tabs__info-peoples">от 10 до 40<br>человек</div>
            <p class="tabs__info-text">Пространство 1 этажа разместит до 40 гостей современное, светлое, элегантное</p>
          </div>
        </div>
      </div>
    </div>
    <div class="zones__button-wrapper">
      <button class="btn-reset zones__button button button--main" data-zone="Веранда" data-graph-path="callback-modal">Забронировать</button>
    </div>
  </div>
</section>
